{
    "tabWidth": 4,
    "experimentalTernaries": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": false
}
